* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.calendar {
  position: relative;
  overflow: hidden;
  width: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;

  -webkit-box-reflect: below 1px linear-gradient (transparent, transparent, #0004);
}

.calendar #monthName {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  background-color: #ee2746;
}
.calendar #dayName {
  margin-top: 20px;
  color: #999;
  font-size: 20px;
  font-weight: 300px;
}
.calendar #dayNumber {
  margin-top: 20px;
  color: #333;
  font-size: 80px;
  font-weight: 700px;
}
.calendar #year {
  margin-bottom: 20px;
  color: #999;
  font-size: 20px;
  font-weight: 300px;
}
