body {
  font-size: 1.2vw;
  background: linear-gradient(90deg, #f00, #faf008);
}
body h1 {
  margin-bottom: 20px;
  font-weight: 700;
}
body main {
  width: 45vw;
  margin: 150px auto 80px;
  /* 将子元素居中 */
}
body main #feedback-form {
  /* 为表单元素设置样式 */
}
body main #feedback-form label {
  display: block;
  margin: 1em 0;
}
body main #feedback-form input,
body main #feedback-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}
body main #feedback-form textarea {
  height: 200px;
  resize: none;
}
body main #feedback-form button {
  padding: 0.5em 2em;
  margin-top: 20px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
body main #feedback-form #estimate-item {
  margin: 0;
}
body main #feedback-form .estimate input {
  width: 10px;
  padding: 15px;
  margin: 10px;
}
body main #feedback-form #suggest {
  margin-bottom: 0.5em;
}
body main #feedback-form select {
  padding: 2px;
  margin-bottom: 10px;
  color: #333;
  font-size: 0.5vw;
  background: no-repeat right, linear-gradient(to bottom, #ebdede, #ddd);
  border: 1px solid #ccc;
}
body main #feedback-form select:hover {
  background-color: #ddd;
}
body main #feedback-form select:focus {
  border-color: #333;
}
body main #feedback-form select:disabled {
  color: #999;
  cursor: not-allowed;
}
